<!-- ARTICLES INDEX-->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<h1 id="page-header" align="center">Today I Learned Blog</h1>
  
  <%= render 'article', obj: @articles %>
  
    