</br>
</br>

<h1 align="center" id="page-header">Create an Article</h1>

<!-- This renders our _form.html.erb partial file. Because it is in the same directory, 
(articles), you don't have to link it. If it was in a folder like shared, it would be 'shared/form'-->
<%= render 'form' %>
