<!--This is the page rendered after the creation of an article -->

<h1>Showing Selected Article</h1>

<p> Title: <%= @article.title %> </p>

<p> Description: <%= @article.description %> </p>

<%= link_to "Edit Article", edit_article_path(@article) %> |
<%= link_to "Back to Articles Listing", articles_path %>
