<main role="main" id="about-page">
      
  <div id="about-jumbo"class="jumbotron">
    <div class="container-fluid">
    </div>
  </div>
        
  <div>
    <h1 id="page-header" style="text-align: center;">My Story</h1></br>
       <p id="about-story">
         I didn't always work in tech, in fact I have a rather unique backstory. For most of my
  	professional life, I worked at an average height of 100 feet above the ground, as a <a href=
  	"https://www.instagram.com/p/uDyXhnHPIL/?taken%20by=banningmills">Lead Guide</a> at <a href=
  	"http://www.historicbanningmills.com/">Historic Banning Mills</a>, the largest zip line canopy
  	course in the world. I miss it dearly, but it's simply not a job you can do forever; it can be
  	incredibly demanding on the body. I found that in my spare time I always dabbled in computer
  	science - I even learned Javascript, HTML,and CSS, I just wasn't serious about it.&nbsp;<br>
  	<br>
  	I eventually joined a program called Praxis, a highly competitive network of young aspiring
  	entrepreneurs. The program specializes in connecting young people with startup companies who are
  	looking for young people who really "break the mold."&nbsp; I joined Praxis because I honestly had
  	no idea what I wanted to do with my life,and I figured the easiest way to find out what I wanted
  	to do was by finding out what I didn't want to do. It gave me the opportunity to work at a startup
  	company, a place where I would have to learn and try many different things.<br>
  	<br>
  	Praxis connected me with <a href="https://en.wikipedia.org/wiki/Joel_Trammell">Joel Trammell</a>,
  	Founder of <a href="https://www.khorus.com/&quot;">Khorus Software&nbsp;</a>and now CEO of
  	BlackBox. I joined Khorus because I believed, and still believe, in their product. Joel was under
  	the impression that many CEOs seemed to have gotten to<br>
  	their positions by accident, because most didn't seem to have any solid philosophy behind their
  	business. He created Khorus to help solve that problem, as the all-in-one management solution for
  	business. I joined Khorus as a jack-of-all-trades, but I focused primarily in marketing; that's
  	where I was needed most. Although I did rather well in marketing, I found that it's not what I
  	love to do. I love to think, learn, and build things. As soon as I realized that's the sort of
  	work I wanted to do, well, you can probably guess the rest. </br></br>
  	You can contact me at alexyounger07@gmail.com</p>
  </div>
</main>
       