<link href="https://file.myfontastic.com/QUjfTyKdTGeEkiCCK5BYLh/icons.css" rel="stylesheet">
<main role="main" id="about-page">
  <div id="about-jumbo"class="jumbotron">
    <div class="container-fluid">
    </div>
  </div>
        
  <!--<div>
    <h1 id="page-header" style="text-align: center;">My Story</h1></br>
       <p id="about-story">
         I didn't always work in tech, in fact I have a rather unique backstory. For most of my
  	professional life, I worked at an average height of 100 feet above the ground, as a <a href=
  	"https://www.instagram.com/p/uDyXhnHPIL/?taken%20by=banningmills">Lead Guide</a> at <a href=
  	"http://www.historicbanningmills.com/">Historic Banning Mills</a>, the largest zip line canopy
  	course in the world. I miss it dearly, but it's simply not a job you can do forever; it can be
  	incredibly demanding on the body. I found that in my spare time I always dabbled in computer
  	science - I even learned Javascript, HTML,and CSS, I just wasn't serious about it.&nbsp;<br>
  	<br>
  	I eventually joined a program called Praxis, a highly competitive network of young aspiring
  	entrepreneurs. The program specializes in connecting young people with startup companies who are
  	looking for young people who really "break the mold."&nbsp; I joined Praxis because I honestly had
  	no idea what I wanted to do with my life,and I figured the easiest way to find out what I wanted
  	to do was by finding out what I didn't want to do. It gave me the opportunity to work at a startup
  	company, a place where I would have to learn and try many different things.<br>
  	<br>
  	Praxis connected me with <a href="https://en.wikipedia.org/wiki/Joel_Trammell">Joel Trammell</a>,
  	Founder of <a href="https://www.khorus.com/&quot;">Khorus Software&nbsp;</a>and now CEO of
  	BlackBox. I joined Khorus because I believed, and still believe, in their product. Joel was under
  	the impression that many CEOs seemed to have gotten to<br>
  	their positions by accident, because most didn't seem to have any solid philosophy behind their
  	business. He created Khorus to help solve that problem, as the all-in-one management solution for
  	business. I joined Khorus as a jack-of-all-trades, but I focused primarily in marketing; that's
  	where I was needed most. Although I did rather well in marketing, I found that it's not what I
  	love to do. I love to think, learn, and build things. As soon as I realized that's the sort of
  	work I wanted to do, well, you can probably guess the rest.</p>
  </div>
</main> -->
<%#= image_tag("skytrek.jpg", :alt => "Banning Mills") %>

<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js"></script>
<h1 align="center" id="page-header" style="margin-bottom: 2cm;">My Story</h1>
<h2 align="center"> <%= image_tag("pins_journey.png", :alt => "journey") %> </h2>
<p id="secondary-text">My journey so far. I've worked in several different industries, and 
                      all of them have contributed to who I am today.</p>

<section id-"about-timeline" class="timeline">
  <div class="container">
    
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInLeft">
        <h2><i id="fa-icon" class="fa fa-tree"></i> Tour Guide</h2>
        <div class="date">August 2013</div>
        <p>I became a Zipline Tour Guide at Historic Banning Mills during high school. Ironically I was afraid of heights when
            I first started; I just needed a job. Little did I know that this job would shape me into a good-willed, respectable, 
            and continually improving human being.</p>
      </div>
    </div> 
    
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInRight">
        <h2><i id="fa-icon" class="fa fa-graduation-cap"></i> Georgia Highlands College</h2>
        <div class="date">September 2014 - 2016</div>
        <p>Like many students, I was pressured into going to college right out of high school. I attended Georgia Highlands College
            with the intent of transferring to UGA, in pursuit of an economics degree. I didn't finish, not 
            because of grades, but because after two years I was told that I was advised incorrectly on what classes to take. 
            The college claimed I needed another year to complete a two year degree. This simply confirmed what I 
            already suspected: that college is mostly a scam and largely a waste of time. <b>I learned no marketable skills here, and I
            wish I had never attended college.</b></p>
      </div>
    </div> 
    
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInLeft">
        <h2><i id="fa-icon" class="fa fa-code"></i> Self-Learning & Interest in Programming</h2>
        <div class="date">2015 - 2016</div>
        <p>I suspected college was a scam early into my college career, and supplemented it with my own personal learning curriculum.
            I first started taking classes on <a href="https://onemonth.com/">OneMonth.com</a> and completed courses in 
            <a href="https://onemonth.com/courses/pfnp"><b>HTML/CSS</b></a>,
            <a href="https://onemonth.com/courses/content-marketing"><b>Content Marketing</b></a>, and 
            <a href="https://onemonth.com/courses/growth-hacking"><b>Growth Hacking</b></a>. I discovered my interest in technology, 
            and built my first few websites, (which are embarrasing, they cannot be found anymore). 
            I would later discover <a href="udemy.com">Udemy</a>, where I took classes in 
            <a href="https://www.udemy.com/javascript-from-beginner-to-expert-bring-life-to-your-site/learn/v4/overview">
            <b>Javascript</b></a>, 
            <a href="https://www.udemy.com/dc-level-1/"><b>Chinese</b></a>, and 
            <a href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course/learn/v4/overview"><b>Ruby on Rails.</b></a>
            </p>
      </div>
    </div> 
  
    
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInRight">
        <h2> <%= image_tag("alabama.png", :alt => "alabama") %> Guntersville Course Manager</h2>
        <div class="date">April 2016</div>
        <p>I eventually became a Lead Tour Guide at Historic Banning Mills, and I was asked to help start up and temporarily 
        manage a zipline course in Guntersville Alabama, a small, rather beautiful mountain town. I helped 
        train the staff and train the local manager to be self-sufficient.   </p>
      </div>
    </div> 
    
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInLeft">
        <h2><i id="fa-icon" class="material-icons">beach_access</i> Myrtle Beach Course Manager</h2>
        <div class="date">June - August 2016</div>
        <p>I was then asked to be the assistant manager at a course in Myrtle Beach South Carolina. Myrtle Beach is a unique place, 
            filled with uncooperative people. It has one of the highest crime rates on the east coast. I fired the people who needed
            firing, and gave more responsibility to those who deserved it. I made good friends and great memories. 
            I trained a manager to replace me.They didn't want me to leave, but only a certain person could live in Myrtle Beach. </p>
      </div>
    </div> 
    
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInRight">
        <h2><%= image_tag("blue-sm-praxis.png", :alt => "praxis") %> Praxis</h2>
        <div class="date">May 2017</div>
        <p>I discovered <a href="discoverpraxis.com">Praxis</a> Praxis is an organization that 
            connects driven, entrepreneurial-minded kids with startup companies so they may learn business skills from an 
            apprenticeship. Only 1% of applicants are accepted into the program, and luckily I passed. It was a great choice for me
            because I had no idea what I wanted to do with my life, and Praxis gave me the chance to find out at a startup, a place
            where I could wear many hats. It taught me, and continues to teach me, self-marketing skills and crucial business skills. 
            Companies like this are going to reinvent the education industry.</p>
      </div>
    </div> 
    
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInLeft">
        <h2><i id="fa-icon" class="fa fa-building"></i> Khorus Software</h2>
        <div class="date">August 2013</div>
        <p>Praxis connected me with <a href="https://en.wikipedia.org/wiki/Joel_Trammell">Joel Trammell</a>
        , Founder of Khorus Software and current CEO of BlackBox Network Services. I read Joel's book, 
        <a href="https://www.amazon.com/CEO-Tightrope-Master-Balancing-Successful/dp/1626341060/ref=sr_1_1?s=books&ie=UTF8&qid=1515986582&sr=1-1&keywords=the+ceo+tightrope+by+joel+trammell">
        <i>The CEO Tightrope</i></a>, and totally agreed with his philosophy; I told Praxis that I absolutely wanted to work for Joel. 
          My main role was in marketing and sales, although I always found myself migrating to programming. I helped develop 
        </p>
      </div>
    </div> 
    
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInRight">
        <h2><i id="fa-icon" class="fa fa-diamond"></i> Remote Ruby/Rails Developer</h2>
        <div class="date">August 2013</div>
        <p>Lorem ipsum </p>
      </div>
    </div> 
    
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInLeft">
        <h2> <i id="fa-icon" class="material-icons">landscape</i> Colorado Tour Guide</h2>
        <div class="date">August 2013</div>
        <p>Lorem ipsum </p>
      </div>
    </div> 

  </div>
</section>


