<body>
    <main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="container-fluid">
        <div id="about-jumbo"class="jumbotron"></div>
      </div>
        
      <div class="container" align="center">
      <img id="headshot" <%= image_tag("roundheadshot.png", :alt => "roundheadshot") %>
      
    
    <p style="text-align: left;">Top 5 Strengths: <em>Clifton StrengthsFinder	&copy;</em></p>
<p style="text-align: left;"><strong>INPUT</strong></p>
<p style="text-align: left;">I am inquisitive. I collect things. I collect information -- words, facts, books, theories. The world is 
                              exciting precisely because of its infinite variety and complexity; nearly everything interests me. I read a great 
                              deal, not always to refine my theories but, rather, to add more information to your archives. I require a constant 
                              stream of input flowing into my brain.</p>
                              
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>RESTORATIVE</strong></p>
<p style="text-align: left;">I love to solve problems. Whereas some are dismayed when they encounter yet another breakdown, I can be energized 
                              by it. I enjoy the challenge of analyzing the symptoms, identifying what is wrong, and finding the solution. Not 
                              only practical problems, but even abstract conceptual problems. Whether the problem lie in this thing-this 
                              machine, this technique, this argument, this person, this company; I want to help rebuild it.It is a wonderful 
                              feeling to identify the undermining factor(s), eradicate them, and restore something to its true glory.</p>

<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>LEARNER</strong></p>
<p style="text-align: left;">I love to learn. The process, more than the content or the result, is what's exciting to me. I am energized by 
                              the steady and deliberate journey from ignorance to competence. The thrill of the first few facts, the early 
                              efforts to recite or practice what I have learned, the growing confidence of a skill mastered -- this is the
                              process that entices me. This skill enables me to thrive in dynamic work environments where I am asked to take 
                              on short project assignments and am expected to learn a lot about the new subject matter in a short period of 
                              time and then move on to the next one. My love of learning has driven me to learn a vast array of skills, from 
                              SCUBA diving, to musical instrments, to ametuer rocket science, to development. My ability to learn is my 
                              superpower.</p>

<p style="text-align: left;">&nbsp;</p>                              
<p style="text-align: left;"><strong>INTELLECTION</strong></p>
<p style="text-align: left;">I like to think. I like mental activity. I like exercising the "muscles" of my brain, stretching them in multiple
                              directions. Whether I'm trying to solve a problem or develop an idea or understand another person's feelings; I 
                              am always thinking. Combined with the fact that I am always taking in information, I am oftentimes disecting the 
                              world against my will; there is always a constant mental hum. And that's alright. I am the kind of person who 
                              enjoys my time alone because it is my time for musing and reflection. I am introspective. In a sense, I am my own 
                              best companion, as I pose myself questions and try out answers on yourself to see how they sound.</p>
                              
                              
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: left;"><strong>INDIVIDUALIZATION</strong></p>
<p style="text-align: left;">I am intrigued by the unique qualities of each person. I can be impatient with generalizations or "types" because 
                              I understand that each person holds special and distinct characteristics. I instinctively observe each person's 
                              style, each person's motivation, how each thinks, and how each builds relationships. I hear the one-of-a-kind 
                              stories in each person's life. I remember specific things about each person; if I am a teacher, I tailor my 
                              teaching style to that individual, if I'm in public, I know who detests public praise and who enjoys it. I am a 
                              keen observer of other people's strengths, and I try to draw out the best in each person. While some search around
                              for the perfect team "structure" or "process," I know instinctively that the secret to great teams is casting by 
                              individual strengths so that everyone can do a lot of what they do well.</p>
  </div>
  
        
</body>        