<link href="https://file.myfontastic.com/QUjfTyKdTGeEkiCCK5BYLh/icons.css" rel="stylesheet">
<main role="main" id="about-page">
  <div id="about-jumbo"class="jumbotron">
    <div class="container-fluid">
    </div>
  </div>


<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js"></script>
<h1 align="center" id="page-header" style="margin-bottom: 1cm;">My Story</h1>
<h2 align="center"> <%= image_tag("pins_journey.png", :alt => "journey") %> </h2>

<p id="secondary-text">I've worked in several different industries, and 
                      all of them have contributed to who I am today.</p>

<section id-"about-timeline" class="timeline">
  <div class="container">
    
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInLeft">
        <h2><i id="fa-icon" class="fa fa-tree"></i> Tour Guide</h2>
        <div class="date">August 2013</div>
        <p>I became a Zipline Tour Guide at Historic Banning Mills during high school. Ironically I was afraid of heights when
            I first started; I just needed a job. Little did I know that this job would shape me into a good-willed, respectable, 
            and continually improving human being. I worked there for nearly five years.</p>
      </div>
    </div> 
    
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInRight">
        <h2><i id="fa-icon" class="fa fa-graduation-cap"></i> Georgia Highlands College</h2>
        <div class="date">Sep 2014 - 2016</div>
        <p>Like many students, I was pressured into going to college right out of high school. I attended Georgia Highlands College
            with the intent of transferring to UGA, in pursuit of an economics degree. I didn't finish, not 
            because of grades, but because after two years I was told that I was advised incorrectly on what classes to take. 
            The college claimed I needed another year to complete a two year degree. This simply confirmed what I 
            already suspected: that college is mostly a scam and largely a waste of time. <b>I learned no marketable skills here, and I
            wish I had never attended college.</b></p>
      </div>
    </div> 
    
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInLeft">
        <h2><i id="fa-icon" class="fa fa-code"></i> Self-Learning & Interest in Programming</h2>
        <div class="date">2015 - 2016</div>
        <p>Worried that I wasn't learning marketable skills in college, I supplemented it with my own personal learning curriculum.
            I first started taking classes on <a href="https://onemonth.com/">OneMonth.com</a> and completed courses in 
            <a href="https://onemonth.com/courses/pfnp"><b>HTML/CSS</b></a>,
            <a href="https://onemonth.com/courses/content-marketing"><b>Content Marketing</b></a>, and 
            <a href="https://onemonth.com/courses/growth-hacking"><b>Growth Hacking</b></a>. I discovered my interest in technology, 
            and built my first few websites, (which were very embarassing).  
            I discovered <a href="udemy.com">Udemy</a>, where I took classes in 
            <a href="https://www.udemy.com/javascript-from-beginner-to-expert-bring-life-to-your-site/learn/v4/overview">
            <b>Javascript</b></a>, 
            <a href="https://www.udemy.com/dc-level-1/"><b>Chinese</b></a>, and 
            <a href="https://www.udemy.com/the-complete-ruby-on-rails-developer-course/learn/v4/overview"><b>Ruby on Rails.</b></a>
            </p>
      </div>
    </div> 
  
    
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInRight">
        <h2> <%= image_tag("alabama.png", :alt => "alabama") %> Guntersville Course Manager</h2>
        <div class="date">Apr 2016</div>
        <p>I was promoted to a Lead Tour Guide at Historic Banning Mills, and I was asked to help start up and temporarily 
        manage a zipline course in Guntersville Alabama, a small, rather beautiful mountain town. I helped 
        train the staff and train the local manager to be self-sufficient.   </p>
      </div>
    </div> 
    
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInLeft">
        <h2><i id="fa-icon" class="material-icons">beach_access</i> Myrtle Beach Course Manager</h2>
        <div class="date">June - Aug 2016</div>
        <p>I was a temporary assistant manager at a course in Myrtle Beach South Carolina, a course Banning Mills had vested interests in. 
            Myrtle Beach is a challenging place; it's a town with one of the highest crime rates on the east coast. I helped train 
            the staff and trained a local manager to be self-sufficient. By the end of it, they wanted to hire me permanently, but 
            Myrtle Beach is different world. </p>
      </div>
    </div> 
    
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInRight">
        <h2><%= image_tag("blue-sm-praxis.png", :alt => "praxis") %> Praxis</h2>
        <div class="date">May 2017</div>
        <p><a href="discoverpraxis.com">Praxis</a> is an organization that 
            connects driven, entrepreneurial-minded kids with startup companies to learn business skills through an  
            apprenticeship. Only 1% of applicants are accepted into the program, and luckily I passed. It was a great choice for me
            because I had no idea what I wanted to do with my life, and a startup is a place where I could wear many hats. 
            The program taught me, and continues to teach me, self-marketing skills and crucial business skills. 
            Companies like this are going to reinvent the education industry.</p>
      </div>
    </div> 
    
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInLeft">
        <h2><i id="fa-icon" class="fa fa-building"></i> Khorus Software</h2>
        <div class="date">Aug 2017 - Feb 2018</div>
        <p>Praxis connected me with <a href="https://en.wikipedia.org/wiki/Joel_Trammell">Joel Trammell</a>
        , Founder of Khorus Software and current CEO of BlackBox Network Services. I read Joel's book, 
        <a href="https://www.amazon.com/CEO-Tightrope-Master-Balancing-Successful/dp/1626341060/ref=sr_1_1?s=books&ie=UTF8&qid=1515986582&sr=1-1&keywords=the+ceo+tightrope+by+joel+trammell">
        <i>The CEO Tightrope</i></a>, and agreed with his philosophy completely; I told Praxis that I absolutely wanted to work for Joel.
            I wore many hats, but I found myself migrating to programming. I helped design the pricing page for the Khorus website, and 
            I modified an <a href="https://gist.github.com/AlextheYounga/26faf858c673f2ceb1efd5574cfbc5fe">Excel macro</a>
            I found that helped increase our outbound marketing by 900%. This is when I learned I wanted to devote all my time to 
            development.
        </p>
      </div>
    </div> 
    
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInRight">
        <h2><i id="fa-icon" class="fa fa-diamond"></i> Junior Ruby/Rails Developer</h2>
        <div class="date">Feb 2018</div>
        <p>I'm currently working as a freelance Ruby/Rails developer. Hire me if you're looking for beautiful HTML/CSS/Javascript
            design or looking to create a Ruby/Rails application.</p>
      </div>
    </div> 
    
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content js--fadeInLeft">
        <h2> <i id="fa-icon" class="material-icons">landscape</i> Colorado Tour Guide</h2>
        <div class="date">Apr 2018</div>
        <p>I am currently living in Cañon City, Colorado and I am back to my roots as a Zipline Tour Guide at the Royal Gorge in Cañon City. Tour guide
            by day, developer by night. </p>
      </div>
    </div> 

  </div>
</section>

<%#= javascript_include_tag('timeline.js')%>


