<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>
  
  
  
  <body>
    <main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3" id="display-3">Alex Younger</h1>
          <p id="HeaderSub">I build websites and applications, I write lots of interesting things, and my driving passion is to learn everything there is to know in the universe until my head explodes like Marvin from Pulp Fiction </p>
          
        </div>
      </div>

      <div class="container-fluid">
        <!-- Example row of columns -->
        
        <div class="list">
          <div class="post-teaser">
            <h2>Blog 1</h2>
            <p>Blog Description 1</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          
          <div class="post-teaser">
            <h2>Blog 2</h2>
            <p>Blog Description 2</p>
          <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          
          <div class="post-teaser">
            <h2>Blog 3</h2>
            <p>Blog Description 3</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          
          <div class="post-teaser">
            <h2>Blog 4</h2>
            <p>Blog Description 4</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>
    
  </body>
    