
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="lp-version" content="v6.7.132-cp2">
      <!--39a07256-a4cd-467a-a867-a62ff5a1f269 a-->
<title></title>
<meta name="keywords" content="">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- lp:insertions start head -->
<link href="//builder-assets.unbounce.com/published/page-defaults-13674f6.z.css" rel="stylesheet" media="screen" type="text/css" />

<meta property='og:title' content='http://unbouncepages.com/ruby-home-page/'/>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="//d2xxq4ijfwetlm.cloudfront.net/m/lp-webapp/api/unbounce.js"></script>
<script type="text/javascript">
window.ub.page.id = "39a07256-a4cd-467a-a867-a62ff5a1f269";
window.ub.page.variantId = "a";
window.ub.page.usedAs = "main";
window.ub.page.name = "Ruby Home Page";
window.ub.page.url = "http://unbouncepages.com/ruby-home-page/";
window.ub.page.dimensions = {"desktop":{"height":1236,"width":960},"mobile":{"height":650,"width":320}};
</script>
<script type="text/javascript">
var lp = lp || {};
lp.jQuery = jQuery.noConflict( true );
</script>

<script src="//builder-assets.unbounce.com/modules/lp-block/public/main-90cd9cc.z.js" type="text/javascript"></script>
<script src="//builder-assets.unbounce.com/published/matchMedia-ba7af92.z.js" type="text/javascript"></script>
<script src="//builder-assets.unbounce.com/modules/lp-text/public/main-e1f2690.z.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
<script>
lp = lp || {};
lp.webFontLoad = {
  google: {
    families: ['Roboto Slab:300,regular,100','Open Sans:regular']
  },
  active: function() {
   if(lp && lp.text && typeof lp.text.fixTextHeights === "function")  {
     lp.text.runTextFixes(true)
   }
  }
};
window.WebFont.load(lp.webFontLoad);
</script>
<!--[if IE 7]>
<script>
(function() {
  var sheet = document.styleSheets[1];
  var rules = sheet.rules;
  var rule;
  var index = -1;
  for (var i=0, l=rules.length; i<l; i++){
    rule = rules[i];
    if (rule.selectorText.toLowerCase() == 'div.lp-pom-root .lp-pom-text span') {
      index = i;
      break;
    }
  }
  if (index > -1) {
    sheet.removeRule(index);
    sheet.addRule('div.lp-pom-root .lp-pom-text span', 'line-height:inherit');
  }
})();
</script>
<![endif]-->

<script src="//builder-assets.unbounce.com/published/ub-browser-879f873.z.js" type="text/javascript"></script>

<!-- lp:insertions end head -->
</head>
<body class="lp-pom-body ">
<!-- lp:insertions start body:before -->
<!-- lp:insertions end body:before -->
<div class="lp-element lp-pom-root" id="lp-pom-root">
<div id="lp-pom-root-color-overlay"></div>
<div class="lp-positioned-content">
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-23">
<p class="lplh-58" style="color: rgb(0, 0, 0); text-align: center;">
<span style="color: rgb(0, 0, 0);"><span style="font-size:48px;"><span style="font-family: &quot;Roboto Slab&quot;; font-weight: 300; font-style: normal;">Alex Younger</span></span></span>
</p>
</div>
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-69">
<p class="lplh-18" style="text-align: center;">
<span style="color:#a9a9a9;"><span style="font-size:11px;"><span style="font-family:open sans;">alextheyounger.com &copy;copyright 2018. All rights reserved.</span></span></span>
</p>
</div>
<div class="lp-element lp-pom-text nlh" id="lp-pom-text-145">
<p class="lplh-34" style="text-align: center;">
<span style="font-size:28px;"><span style="color: rgb(0, 0, 0); font-family: &quot;Roboto Slab&quot;; text-align: center;"><span style="font-weight: 100; font-style: normal;">This is my Website</span></span></span>
</p>
</div>
</div>
<div class="lp-element lp-pom-block" id="lp-pom-block-8">
<div id="lp-pom-block-8-color-overlay"></div>
<div class="lp-pom-block-content"></div>
</div>
<div class="lp-element lp-pom-block" id="lp-pom-block-14">
<div id="lp-pom-block-14-color-overlay"></div>
<div class="lp-pom-block-content"></div>
</div>

<!-- lp:insertions start body:after -->

<!-- lp:insertions end body:after -->
</body>
</html>
