<h1 align="center" id="page-header" style="margin-bottom: 30px;">
  My Projects & Playground
</h1>

<div class="container-fluid" id="project-box">
  <h1 align="center" id="project-title">
       <a href="http://www.alextheyounger.me/articles/20">Creating Your Own Medium.com API</a>
  </h1>
    <a href="http://www.alextheyounger.me/articles/20">
     <%= image_tag("medium_banner.png", id: "medium-banner", :alt => "medium_banner") %>
     </a>
   
</div>