//ALL NAVBAR STUFF BELOW

$navbar-default-bg: #212529;
$navbar-margin-bottom: -20px; 
//The above code is going directly into the hidden bootstrap files that you don't have access to. 

.navbar-default {
font-weight: bold;}

#right-menu {
  a {
    color: white;
  }
}

#logo {
  color:white;
  font-size: 1.7em;
}

////////////////////////////////////////HOME PAGE//////////////////////////////

#headshot {
  width: 250px;
.container {
  background-color: #121212;
}
}


///////////////TITLE/////////////////



#display-3 {
  position: relative;
  color: #212529;
  padding-left: 50px;
  
}
#HeaderSub {
  position: relative;
  color: #212529;
  padding-left: 50px;
  font-size: 1.7em;
  font-weight: bold;
  
} 

.jumbotron {
  background-image: asset-url('thumbsup.jpg');
   background-repeat:no-repeat;
  background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  height: 575px;
  .container {
    position: relative;
    width: 700px; 
    margin-left: 100px;
  }
}

//////////////////HOME POSTS///////////////////////

#post-title {  
    font-size: 3em;
  }



//This took a while to figure out; the nth-of-type must follow the .post-teaser
/* Doesn't seem to work with embedded ruby
.post-teaser:nth-of-type(odd) {
  background-color: #e9ecef;
}
*/


//////////////////////////ABOUT PAGE////////////////////////////

#about-jumbo {
  background-image: asset-url('grand_canyon2.jpg');
   background-repeat:no-repeat;
  background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  height: 575px;
}


///////////////////PAGE HEADERS///////////////////////////
 
#PageHeader {
  font-weight: bold;
  font-size: 3.5em;
}


//////////////////READING LIST CSS //////////////////////

#media {
  padding-left: 2cm;
  padding-top: 30px;
  
img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}
}

.media-body {
  padding-right: 150px;
}

#bottom-row {
  margin-left: 2cm;
  
  img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px;
  }
   .caption {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 150px;
  }
}

#RLSub {
  margin-top: 4cm;
  margin-bottom: 2cm;
}

///////////////////////ARTICLES///////////////////////

#CreateNew {
  margin-left: 330px;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description {
  margin-top: 0;
}



///////////////////FOOTER////////////////////////

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #212529 ;
}

/////////////////BOOTSTRAP CONTENT - DON'T BOTHER////////////////////////

@import "bootstrap-sprockets";
@import "bootstrap";



