
////////////////////NAVBAR//////////////////////////////

$navbar-default-bg: #f5f5f5;
$navbar-margin-bottom: -20px; 
//The above code is going directly into the hidden bootstrap files that you don't have access to. Can also use !important to override them. 

.navbar-default {
  border: 1px solid #e3e3e3;
  margin-top: -10px;
}

#navbar-button {
  float: left;
  width: 39%;
}

.navbar-collapse{
  margin-top: 10px;
}

#right-menu {
  a {
    color: black;
    font-family: "Libre Baskerville",serif;
    font-size: 1em;
  }
}

#logo {
  color: black;
  font-size: 1em;
  margin-top: 10px;
  font-family: "Libre Baskerville",serif;
}

////////////////////////////////////////HOME//////////////////////////////

#header{
 padding-top: 3cm;
 padding-bottom: 3cm;
 margin: 0 auto;
 font-family: "Libre Baskerville",serif;
}


#name {
  
  font-size: 4em;
  color: #212529;
}
#header-sub {
  max-width: 500px;
  width: auto; 
  color: #212529;
  font-size: 1.6em;
  
}

#button-style {
  font-family: "Libre Baskerville",serif;
}

//////////////////////////ABOUT////////////////////////////


#headshot {
  margin-left: 8%; 
  
  @media only screen and (max-width: 800px) {
    display: block;
    margin-left:auto;
    margin-right:auto;
  }
}


#about-text{
    font-family: "Libre Baskerville",serif;
    float: right;
    width: 55%;
    margin-right: 10%;
    margin-bottom: 20px;
  
  @media only screen and (max-width: 800px) {
    text-align: center;
    padding-top: 20px;
    width: 100%;
    margin-right: 0;
  }
}

#about-story {
  text-align: left; 
  margin-left: 16%; 
  margin-right: 16%;
}

#about-jumbo {
  background-image: asset-url('grand_canyon2.jpg');
   background-repeat:no-repeat;
  background-position:center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  max-height: 575px;
  height:auto;
  min-height: 420px;
  width: 100%;
}



///////////////////HEADERS///////////////////////////
 
#page-header {
  margin-top: 2cm;
  font-family: "Libre Baskerville",serif;
  font-size: 3.5em;
}

#section-header {
  margin-top: 1.5cm;
  font-family: "Libre Baskerville",serif;
  font-size: 3.5em;
}


///////////////////////ARTICLES///////////////////////
#article-div {
  margin-bottom: -20px !important;
  margin-left: 16.6%;
  
  @media only screen and (max-width: 800px) {
    width: 100%;
    margin-left: 0;
  }
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

#create-button {
  margin: 20px;
  font-family: "Libre Baskerville",serif;
}


#showpage-title {
  margin-top: 5%;  //show page
  color: #337ab7;
  font-size: 2.6em;
}


.article-title {  
    font-size: 2.4em;
    text-align: center;
  }

.article-body {
  margin-top: 0;
  text-align: center;
  padding: 30px;
}

.article-meta-details {
  border-top: 1px solid #eaeaea;
  margin-top: 15px;
  text-align: center;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

/////////////////POSTS//////////////////////

#medium-banner {
  margin-top: 60px;
  margin-bottom: 20px;
}

#medium-button {
  margin: 10px;
}

/////////////////CAROUSEL CSS///////////////////////////

.multi-item-carousel{
  .carousel-inner{
    > .item{
      transition: 500ms ease-in-out left;
      }
      
      .img-responsive{
        width: 160px;
        max-height: 250px;
        @media only screen and (min-width: 800px) {
          margin-left: 25%;
        }
        
        
      }
    
    .active{
      &.left{
        left: -33%;
      }
      &.right{
        left: 33%;
      }
    }
    .next{
      left: 33%;
    }
    .prev{
      left: -33%;
    }
    @media all and (transform-3d), (-webkit-transform-3d) {
      > .item{
        // use your favourite prefixer here
        transition: 500ms ease-in-out left;
        transition: 500ms ease-in-out all;
        backface-visibility: visible;
        transform: none!important;
      }
    }
  }
  .carouse-control{
    &.left, &.right{
      background-image: none;
    }
  }
}

// non-related styling:
body{
  background: #333;
  color: #ddd;
}
/*h1{
  color: white;
  font-size: 2.25em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 1);
} */

//////////////////READING LIST CSS //////////////////////

.toggles{ 

  max-width: 800px;
  margin: 0 auto;
  display: block;
  clear: both;
  overflow: hidden;
  text-align: center;
  
  
}

button{
  border: 2px solid #e3e3e3;
  border-radius: 40px; 
  background-color: #f5f5f5;
  display: inline-block;
  padding: 10px;
  width: 150px;
  overflow: visible;
  margin: 5px auto !important; 
  font-family: "Libre Baskerville",serif;
  
}



button:hover {
color: #FFF;
	background-color: #337ab7;
	border: 1px solid #2e6da4;
}

#list-container {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin: 0 auto;
  
}

.covers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  div {
    margin: 2%;
  }
  
  img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 145px;
  }
  
}


///////////////////FOOTER////////////////////////


.footer {
  border-top: 1px solid #e3e3e3;
  clear: both;
  margin-top: 45px;
}


//SOCIAL MEDIA//

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

a, a:hover {
	text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
  margin: 0;
  padding: 5px;
}

.socialbtns li {
    list-style: none outside none;
    display: inline-block;
}

.socialbtns .fa {
	width: 40px;
	height: 36px;
	color: #000;
	background-color: #FFF;
	border: 1px solid #000;
	padding-top: 12px;
	border-radius: 22px;
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	-o-border-radius: 22px;
}

.socialbtns .fa:hover {
	color: #FFF;
	background-color: #000;
	border: 1px solid #000;
}





/////////////////BOOTSTRAP CONTENT - DON'T BOTHER////////////////////////

@import "bootstrap-sprockets";
@import "bootstrap";


/*COLORS*/
//color: #337ab7; (hyperlink blue)
//color: #121212 (black)
//color: #eaeaea (blue)
//color: #f5f5f5 (grey)
//border-color: #e3e3e3 (grey)