<!-- CATEGORY SHOW PAGE -->
<h1 align="center" id="page-header"> <%="Articles In: " + @category.name %> </h1>

<%= render 'articles/article', obj: @category_articles %>

</br><div align="center"><%= link_to "View All", articles_path, class: "btn btn-lg btn-success" %></div>