<div id="footer-container" class="container">
  <footer align="center" class="footer">
    <small>
      Copyright &copy; <a href="alextheyounger.me">alexyounger.com</a> by Alex Younger. This site was built with Ruby on Rails.
    </small>
    <br/>
    
<div align="center" class="socialbtns">
<ul>
<li><a href="https://www.linkedin.com/in/alexyounger/" class="fa fa-lg fa-linkedin"></a></li>
<li><a href="https://www.facebook.com/alex.younger.7" class="fa fa-lg fa-facebook"></a></li>
<li><a href="https://github.com/AlextheYounga/alpha-blog" class="fa fa-lg fa-github"></a></li>
<li><a href="https://codepen.io/alextheyounger/" class="fa fa-lg fa-codepen"></a></li> 

</ul>
</div>

  </footer>
</div>
