<div id="footer_container" class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="alextheyounger.com">alexyounger.com</a> by Alex Younger
    </small>
    <br/>
    
<div align="center" class="socialbtns">
<ul>
<li><a href="https://www.linkedin.com/in/alexyounger/" class="fa fa-lg fa-linkedin"></a></li>
<li><a href="https://www.facebook.com/alex.younger.7" class="fa fa-lg fa-facebook"></a></li>
<li><a href="https://github.com/AlextheYounga/alpha-blog" class="fa fa-lg fa-github"></a></li>
<!--
<li><a href="#" class="fa fa-lg fa-twitter"></a></li>
<li><a href="#" class="fa fa-lg fa-google-plus"></a></li>
<li><a href="#" class="fa fa-lg fa-pinterest"></a></li>
<li><a href="#" class="fa fa-lg fa-instagram"></a></li>
<li><a href="#" class="fa fa-lg fa-youtube"></a></li> -->
</ul>
</div>

  </footer>
</div>