<!-- This block of code will create allow a message to be created on each page -->
<% flash.each do |name, msg| %>
  <ul id="error">                              
    <li><%= msg %></li>
  </ul>
<% end %>