<% flash.each do |name, msg| %>
  <ul>                              <!-- This block of code will create allow a message to be created on each page
                                        specifically the error messages from failure to save an article to the database-->
    <li><%= msg %></li>
  </ul>
  <% end %>