<% flash.each do |name, msg| %>
  <% if flash[:danger]%>
    <ul class="alert alert-danger">                              
      <li id="error"><%= msg %></li>
    </ul>
  
  <% else %>
    <ul class="alert alert-success">                              
      <li id="success"><%= msg %></li>
    </ul>
  <% end %>
<% end %>
  